body {
  font-size: 62.5%;
  /*font-size 62.5% == 10px */
}

p {
  font-size: 1.2rem;
  font-style: italic;
}

h1 {
  font-size: 2rem;
  display: flex;
  color: #ffffff;
  justify-content: center;
  font-style: italic;
}

h2 {
  font-size: 1.5rem;
  font-style: italic;
}

a {
  color: #f2c75c;
  font-size: 1rem;
  font-style: italic;
}

nav {
  display: flex;
  justify-content: space-around;
}

.li2 {
  display: inline;
  padding: 2rem;
  font-size: 1.3rem;
}

li {
  padding: 2rem;
  font-size: 1.3rem;
  list-style-type: circle;
  font-style: italic;
}

img {
  height: 300px;
  padding: 0px;
  margin: 0px;
}

footer {
  color: #f2c75c;
  background-color: #080807;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  font-style: italic;
}

aside img {
  width: 100%;
}

video {
  height: 55%;
  width: 55%;
}

.lista1 {
  display: none;
  list-style-type: circle;
}

.contVideo {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.degradado {
  background: linear-gradient(to top, gray, 20%, black);
  color: azure;
}

.fotos {
  width: 49%;
  margin: 0%;
  padding: 0%;
}
